div {
    width: 200px;
    height: 200px;
    margin: auto;
}

#div1 {
    transform: skew(-30deg);
    background-color: #f00;
}

#div2 {
    transform: skew(30deg);
    background-color: #0f0;
}

#div3 {
    transform: skew(-30deg);
    background-color: #00f;
}

#div4 {
    transform: skew(30deg);
    background-color: #f0f;
}