body {
    margin: 0px;
    padding: 0px;
    background-color: #d53333;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: 1200px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #a88a8a;
    margin-top: 10px;
    border: 2px solid #000;
    text-shadow: 1px 1px 3px #010000;
}

.title h2, h1 {
    margin: 5px;
}

#imagen img{
    border-radius: 100px;
    border: 2px solid #000;
    width: 100%;
    height: 100%;
}

#imagen figcaption {
    text-align: center;
    font-size: 17px;
}

#imagen {
    margin-top: 10px;
    height: 550px;
    padding: 0px;
    flex: 2;
}

.img_pers {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 10px;
}

.img_pers img{
    width: 85%;
}

.widget{
    display: flex;
}

.obras{
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
}

section{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

article {
    margin: 10px;
}

article img{
    max-width: 150px;
    min-width: 200px;
}