body {
    background-image:url("../img/obra8.jpg");
    background-size: cover;
    background-position: center;
}

div {
    background-color: rgba(255, 0, 0, 0.6);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}